/* Основні кольори */
:root {
    --background-color: #F2F2F2;
    --primary-color: #2f5597;
    --secondary-color: #e1b090;
    --text-color: #212121;
    --title-color: #212121;

    --slogan-color: #2f5597;
}

/* Основні стилі, також дивись в html розділ head>style */
body {
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: var(--text-color);
    background-color: var(--background-color);
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
br {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

a:visited {
    color: var(--primary-color);
}

img {
    display: block;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.wrapper {
    max-width: 1280px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.title {
    margin-bottom: 84px;
    font-weight: 700px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.button {
    display: block;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, rgba(255, 176, 144, 0.1), rgba(47, 85, 151, 0.1));

    border-radius: 10px;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.slogan {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header styles start */

.header {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 166px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__item {
    margin-right: 87px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    display: block;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--primary-color);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    color: var(--secondary-color);
}

.header__list .header__link.current {
    color: var(--secondary-color);
}

/* Header styles end */



/* Intro styles start */

.intro {
    padding-top: 220px;
    background-color: var(--background-color);
    background-size: cover;
}

.intro__subtitle-1 {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 24px;
    color: var(--title-color);
    text-align: center;
}

.intro__title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 128px;
    color: var(--primary-color);
    text-align: center;
}

.intro__pic {
    background-color: rgba(255, 250, 250, 0.25);
    border-radius: 30px;
}

.intro__slogan {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    color: var(--title-color);
    text-align: center;
}

.intro__pic-author {
    padding-right: 30px;
    font-weight: 400px;
    font-size: 10px;
    color: var(--secondary-color);
    text-align: right;
}

/* Intro styles end */


/* About us styles start */

.about-us {
    min-height: 100vh;
}

.about-us__container {
    margin-bottom: 188px;
}

.about-us__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 68px;
    justify-content: space-between;
    font-weight: 400px;
    font-size: 32px;
}

.about-us__list-item {
    width: calc((100% - 20px) / 2);
    padding-bottom: 12px;
}

.about-us__txt {
    margin-bottom: 72px;
    padding-left: 10px;
}

.last {
    margin-bottom: 0;
}

.pic-author {
    font-size: 10px;
    color: var(--secondary-color);
    text-align: right;
    margin-top: -12px;
    padding-right: 30px;
}

.about-us__subtitel {
    color: var(--title-color);
    text-align: center;
    font-weight: 400px;
    font-size: 32px;
    margin-bottom: 28px;
}

/* About us styles end */


/* <p>Приклад використання атрибуту 'form'</p>
<form id="data"></form>
<p><input placeholder="Ваше ім'я" name="user" form="data"></p>
<p><input placeholder="Прізвище" name="user" form="data"></p>
<p><input placeholder="Ваше повідомлення" name="user" form="data"></p>
<p><button>Надіслати</button></p> */



/* Benefits start */

.benefits {
    background-size: cover;
    margin-bottom: 164px;
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
}

.benefits__card {
    padding-top: 24px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 12px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    font-size: 32px;
    text-align: center;
}

.benefits__card-title {
    display: inline-flex;
    align-items: center;
    line-height: 3.38;
}

.benefits__card-title::before {
    content: '';
    width: 44px;
    height: 44px;
    background-size: contain;
    margin-right: 36px;
}

.benefits__card-title.stability::before {
    background-image: url(../icons/icon_muscle.svg);
}

.benefits__card-title.flexibility::before {
    background-image: url(../icons/icon_newspaper-folding.svg);
}

.benefits__card-title.support::before {
    background-image: url(../icons/icon_user.svg);
}

/* Benefits end */


/* Footer style start */

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer__nav-logo {
    display: flex;
    justify-content: flex-start;
}

.logo-pic {
    margin-right: 28px;
}

.logo-txt {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 24px;

    line-height: 0.9;
}

.logo-txt-llc {
    font-size: 14px;
    font-weight: 400;
}

.logo-txt-name {
    font-size: 36px;
    font-weight: 700;
}

.footer__social-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.footer__social-nav .item:not(:last-child) {
    margin-right: 20px;
}

.footer__address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

.footer__contacts-left,
.footer__contacts-right,
.footer__contacts-txt-address {
    font-size: 24px;
    text-align: center;
}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__address {
    margin-bottom: 48px;
}

.footer__all-right-reserved {
    text-align: center;
    padding-bottom: 15px;
}

.customer.footer {
    background-color: rgba(255, 176, 144, 0.1);
    padding-top: 20px;
}

/* Footer style end */

/* Customer pages styles start */

.customer.page {
    padding-top: 340px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../images/Lamp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.customer-information-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    justify-content: space-between;
}

.customer-information-list-item {
    width: calc((100% - 60px) / 3);
    background-color: whitesmoke;
    padding-top: 32px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    margin-bottom: 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.customer-information-list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.customer-information-title {
    margin-bottom: 28px;
    font-size: 32px;
    color: var(--primary-color);
}

.customer-information-txt {
    margin-bottom: 24px;
    font-size: 24px;
}

.link-get-more {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
}

.link-get-more:hover,
.link-get-more:focus {
    color: var(--secondary-color);
}

.customer.law {
    color: var(--text-color);
    font-size: 24px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.law-item {
    margin-bottom: 24px;
}

.customer__law-list {
    margin-bottom: 94px;
}

/* Customer Tarif styles start */

.tarif {
    padding-top: 220px;
    color: var(--text-color);
    font-size: 24px;
}

.tarif-item {
    margin-bottom: 24px;
}


/* Commercial proposal styles start*/

.commercial.proposal {
    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Working-on styles start */

.working-on {
    padding-top: 220px;
    height: 100vh;
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
}

.working-on-txt {
    display: flex;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
}

.working-on-txt::after {
    content: '';
    width: 124px;
    height: 124px;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.working-on-txt::after {
    background-image: url(../icons/magic.png);
}

/* Working on styles end */

/* Find-us page styles start */

.find-us {

    padding-top: 220px;
    padding-bottom: 60px;
    /* background-size: cover; */
}

.find-us .map {
    display: block;
    width: 1280px;
    height: 600px;

    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.07),
        1px 5px 5px 5px rgba(0, 0, 0, 0.07),
        1px 5px 5px 5px rgba(0, 0, 0, 0.05);
}

/* Find-us page styles end */


/* 

@media screen and (max-width: 1300px) 
.main {
    padding:
} */