/* Основні кольори */
:root {
    --background-color: #F2F2F2;
    --primary-color: #2f5597;
    --secondary-color: #e1b090;
    --text-color: #000000;
    --title-color: #000000;
    /* --slogan-color:  #2f5597;  */
}

/* Основні стилі, також дивись в html розділ head>style */
body {
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: var(--text-color);
    background-color: var(--background-color);
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
br {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

a:visited {
    color: var(--primary-color);
}

.wrapper {
    max-width: 1280px;
    margin: 0px auto;
}

.title {
    font-weight: 700px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding: 164px 0px 84px 0px;
}

.title.invisible {
    padding: 0;
    opacity: 0;
}

.title.current-page {
    color: transparent;
}

.button {
    display: block;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Header styles start */

.header {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 166px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__item {
    margin-right: 87px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 24px;
    line-height: auto;
    color: var(--primary-color);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    color: var(--secondary-color);
}

.header__list .header__link.current {
    color: var(--secondary-color);
}

/* Header styles end */



/* Intro styles start */

.intro {
    min-height: 990px;
    background-size: cover;
    align-content: center;
}

.intro__subtitle-1 {
    padding-top: 220px;
    color: var(--title-color);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding-bottom: 24px;
}

.intro__title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 128px;
    text-align: center;
    padding-bottom: 48px;
}

.intro__slogan {
    color: var(--title-color);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

.intro__pic {
    display: block;
}

.intro__pic-author {
    font-weight: 400px;
    font-size: 10px;
    color: var(--secondary-color);
    text-align: right;
    padding-right: 30px;
}

/* Intro styles end */


/* About us styles start */

.about-us {
    min-height: 100vh;
    background-size: cover;
}

.container {
    font-weight: 400px;
    font-size: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 68px;
}

.column {
    width: 630px;
    min-height: 1px;
    flex: 0 0 48%;
    justify-content: flex-end;
    padding-left: 0px;
    padding-right: 0px;
}

.row__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pic-author {
    font-size: 10px;
    color: var(--secondary-color);
    text-align: right;
    margin-top: -20px;
    padding-right: 30px;
    padding-bottom: 42px;
}

.about-us__subtitel {
    color: var(--title-color);
    text-align: center;
    font-weight: 400px;
    font-size: 32px;
    padding-bottom: 28px;
}

.slogan {
    text-align: center;
    padding-bottom: 172px;
}

.about-us__txt {
    padding-bottom: 72px;
}

.about-us-next__txt {
    padding-bottom: 48px;
}

.about-us__txt-last {
    padding-bottom: 36px;
}

.column.two>.pic-author {
    padding-bottom: 0;
}

/* About us styles end */


/* <p>Приклад використання атрибуту 'form'</p>
<form id="data"></form>
<p><input placeholder="Ваше ім'я" name="user" form="data"></p>
<p><input placeholder="Прізвище" name="user" form="data"></p>
<p><input placeholder="Ваше повідомлення" name="user" form="data"></p>
<p><button>Надіслати</button></p> */




/* Customer styles start */
.customer .title {
    opacity: 0;
}

.customer__txt {
    padding-bottom: 48px;
}

.container-with-button {
    padding-bottom: 172px;
}

.customer__law-txt {
    padding-bottom: 40px;
}

.customer__law-list {
    padding: 0;
    margin: 0;
}

.law-item {
    padding-bottom: 24px;
}

/* Customer styles end */


/* Benefits start */

.benefits {
    background-size: cover;
    margin-bottom: 164px;
}

.benefits__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
}

.benefits__card {
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 12px;
    font-size: 32px;
    text-align: center;
}

.benefits__card-title {
    display: inline-block;
    line-height: 3.38;
}

/* Benefits end */


/* Footer style start */


.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer__nav-logo {
    display: flex;
    justify-content: flex-start;
}

.logo-txt {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 28px;
    line-height: 0.9;
}

.logo-txt-llc {
    font-size: 14px;
    font-weight: 400;
}

.logo-txt-name {
    font-size: 36px;
    font-weight: 700;
}

.footer__social-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.footer__social-nav .item:not(:last-child) {
    margin-right: 20px;
}

.footer__address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

.footer__contacts-left,
.footer__contacts-right,
.footer__contacts-txt-address {
    font-size: 24px;
    text-align: center;
}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__address {
    margin-bottom: 68px;
}

.footer__all-right-reserved {
    text-align: center;
    margin-bottom: 15px;

    /* Footer style end */
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.footer__contacts-txt-address {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

}